@use './styles/reset';

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

.react-flow__viewport, .react-flow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page {
	padding-top: 15px;
}

.add-button {
  display: block;
  margin: 0 auto;
  background-color: green;
  color: #fff;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgb(52, 193, 52);
  }
}
